{% extends "layout.html" %}
{% block body %}
    <style>
        body {
            background-color: #000000;
            color: #FFFFFF;
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
            color: #FF0000;
            margin-top: 50px;
            font-size: 36px;
            text-shadow: 2px 2px #000000;
        }

        hr {
            border: none;
            border-top: 1px solid #FF0000;
            margin: 20px auto;
            max-width: 200px;
        }

        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40vh;
        }

        .form-container form {
            width: 50%;
            text-align: center;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input {
            margin-bottom: 10px;
        }

        button[name="delBtn"],
        button[name="backBtn"] {
            padding: 10px 20px;
            margin-top: 10px;
            background-color: #FF0000;
            color: #FFFFFF;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            text-shadow: 1px 1px #000000;
        }

        button[name="delBtn"]:hover,
        button[name="backBtn"]:hover {
            background-color: #990000;
        }
    </style>

    <h1>Delete Book</h1>
    <hr>

    <div class="form-container">
        <form action="/deleting" method="post">
            <label for="isbn">Book ISBN</label>
            <input name="isbn" type="text" pattern="\d{3}-\d{1,}-\d{3,}-\d{1,}-\d{1}" placeholder="000-0-00000-000-0" required>
            <br>
            <button name="delBtn">Delete</button>
            <button type="submit" name="backBtn" onclick="window.history.go(-1); return false;">Back</button>
        </form>
    </div>
{% endblock %}