{% extends "layout.html" %}
{% block body %}

<style>
    body {
        background-color: #111111;
        color: #FFFFFF;
        font-family: Arial, sans-serif;
    }
    
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 40px;
        text-align: center;
    }
    
    h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }
    
    h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .form-group {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .form-group label {
        display: block;
        font-size: 18px;
        margin-bottom: 5px;
    }
    
    .form-group input {
        width: 200px;
        height: 30px;
        padding: 5px;
        font-size: 16px;
    }
    
    .form-group button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #FF0000;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
    }
    
    .form-group button:hover {
        background-color: #FF3333;
    }
</style>

<div class="container">
    <h1>Library Management System</h1>
    <h3>Fundamentals of Database Systems Finals</h3>
    <p><span class="info-label">Programmer:</span> <span class="info-value">Aguilar, Stephen Joaquin G.</span> || 
        <span class="info-label">Data Analyst:</span> <span class="info-value">Bernas, Jollyben</span> ||
        <span class="info-label">Project Manager:</span> <span class="info-value">Dimapilis, Earl James L.</span>
    </p>
    <h3>B.S.I.T. 2a3</h3>
    <hr>
    
    <form action="/success" method="post">
        <div class="form-group">
            <input type="radio" id="lib" name="loginType" value="lib">
            <label for="lib">Login as Librarian</label>
        </div>
        <div class="form-group">
            <input type="radio" id="stud" name="loginType" value="stud">
            <label for="stud">Login as Student</label>
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="admin" required minlength="8">
        </div>
        <div class="form-group">
            <label for="pass">Password:</label>
            <input type="password" name="pass" placeholder="********" required minlength="8">
        </div>
        <div class="form-group">
            <button type="submit" name="loginBtn">Login</button>
        </div>
    </form>
    
    <form action="/register" method="get">
        <div class="form-group">
            <button type="submit" name="registerBtn">Register</button>
        </div>
    </form>
</div>

{% endblock %}