{% extends "layout.html" %}
{% block body %}
    <style>
        body {
            background-color: #000000;
            color: #FFFFFF;
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
            color: #FF0000;
            margin-top: 50px;
            font-size: 36px;
            text-shadow: 2px 2px #000000;
        }

        hr {
            border: none;
            border-top: 1px solid #FF0000;
            margin: 20px auto;
            max-width: 200px;
        }

        div {
            margin: 0 auto;
            width: 50%;
            text-align: center;
        }

        button[name="backBtn"] {
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #FF0000;
            color: #FFFFFF;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            text-shadow: 1px 1px #000000;
        }

        button[name="backBtn"]:hover {
            background-color: #990000;
        }

        button[name="approve"] {
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #FF0000;
            color: #FFFFFF;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            text-shadow: 1px 1px #000000;
        }

        button[name="approve"]:hover {
            background-color: #990000;
        }
        button[name="disapprove"] {
            padding: 5px 10px;
            margin-top: 5px;
            background-color: #2C2C2C;
            color: #FFFFFF;
            border: none;
            border-radius: 4px;
            font-size: 12px;
            cursor: pointer;
            text-shadow: 1px 1px #000000;
        }

        button[name="disapprove"]:hover {
            background-color: #171717;
        }

        table {
            margin: 20px auto;
            border-collapse: collapse;
            border: 4px solid #FF7F50;
        }

        th, td {
            border: 4px solid #FF7F50;
            padding: 10px;
        }

        th {
            background-color: #FF0000;
            color: #FFFFFF;
        }
    </style>

    <h1>Pending Requests</h1>
    <hr>

    <div>
        <button type="submit" name="backBtn" onclick="window.history.go(-1); return false;">Back</button>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Recommended Age</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Permission</th>
                </tr>
            </thead>
                
            <tbody>
                {% for row in books %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                        <td>{{ row.3 }}</td>
                        <td>{{ row.2 }}</td>
                        <td>{{ row.4 }}</td>
                        <td>{{ row.5 }}</td>
                        <td><form action="/approved" method="post">
                            <input type="hidden" name="id" value="{{ row.0 }}">
                            <button type="submit" name="approve">Approve</button>
                            <button type="submit" name="disapprove">Disapprove</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}