{% extends "layout.html" %}
{% block body %}

<style>
    body {
        background-color: #111111;
        color: #FFFFFF;
        font-family: Arial, sans-serif;
    }
    
    h1 {
        text-align: center;
        color: #FF0000;
        margin-top: 20px;
    }
    
    hr {
        border-color: #FF0000;
        margin: 20px auto;
        max-width: 200px;
    }
    
    a {
        color: #FFFFFF;
        text-decoration: none;
        display: flex;
        justify-content: center;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        margin-top: 50px;
    }
    
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    button {
        margin: 0 10px;
        padding: 10px 20px;
        background-color: #FF0000;
        color: #FFFFFF;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #990000;
    }
    .container {
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .square {
            width: 200px;
            height: 40px;
            border: 5px solid #FF0000;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }

        .number-input {
            margin-top: 20px;
        }
</style>

<h1>Home</h1>
<a>{{ logBool }}</a>
<hr>

<div>
    <form action="/controls" method="post">
        <input type="hidden" name="lib" value="{{ lib }}">
        <button name="libraryBtn" type="submit">Library</button>
        <button name="settingsBtn" type="submit">Account Settings</button>
        <button name="logoutBtn" type="submit">Logout</button>
    </form>
</div>

<div class="container">
    <div>
        <label for="allBooks">Number Books in Database</label>
    </div>
    <div class="square">
        <span id="allBooks">{{ count_books }}</span>
    </div>
    
    <div>
        <label for="availBooks">Number of Books Available</label>
    </div>
    <div class="square">
        <span id="availBooks">{{ available_books }}</span>
    </div>

    <div>
        <label for="pendingBooks">Number of Pending Requests</label>
    </div>
    <div class="square">
        <span id="pendingBooks">{{ pending_books }}</span>
    </div>
    
    <div>
        <label for="!availBooks">Number of Books Not Available</label>
    </div>
    <div class="square">
        <span id="!availBooks">{{ unavailable_books }}</span>
    </div>

    <div>
        <label for="!pendingBooks">Number of Books with no Requests</label>
    </div>
    <div class="square">
        <span id="!pendingBooks">{{ unpending_books }}</span>
    </div>
</div>

{% endblock %}