{% extends "layout.html" %}
{% block body %}
    <h1 style="text-align: center ; color: #ff0000;">Home</h1>
    <hr>
    <div style="display: flex; justify-content: center; align-items: center; height: 75px;">
        <form action="/actions" method="post">
            <button name="libraryBtn" type="submit">Library</button>
            <button name="settingsBtn" type="submit">Account Settings</button>
            <button name="logoutBtn" type="submit">Logout</button>
        </form>
        
    </div>

{% endblock %}